<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="C:\inetpub\FLASKAPP\venv\Scripts\python.exe|C:\inetpub\FLASKAPP\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="FlaskApp" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="app.app" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
    <!-- Point to your Flask app object -->
    <add key="WSGI_HANDLER" value="app.app" />

    <!-- Path to your Flask project -->
    <add key="PYTHONPATH" value="C:\inetpub\FLASKAPP" />

    <!-- Disable logging -->
    <add key="WSGI_LOG" value="" />
  </appSettings>
</configuration>
